.header {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: blue;
  color: white;
  padding: 20px;
  align-content: center;
}

.header-image {
  width: 30px;
  height: 30px;
}
