.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  background-color: blue;
  color: white;
  padding: 20px;
}

.header-image {
  width: 35px;
  height: 35px;
}
